* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 16, 56);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.saldo {
    background-color: rgb(34, 34, 59);
    width: 220px;
    height: 70px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    gap: 10px;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
}

.saldo-atual-saida,
.saldo-atual-entrada,
.saldo-atual {
    font-size: 20px;
}

.saldo-atual-entrada {
    color: green;
}

.saldo-atual-saida {
    color: rgb(243, 4, 4);
}

input {
    padding: 8px;
    padding-left: 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.322);
    background-color: rgb(16, 16, 56);
    color: white;
}

select {
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.322);
    background-color: rgb(16, 16, 56);
    color: white;
    padding: 7px;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.botao {
    padding: 8px;
    width: 200px;
    font-weight: bold;
    background-color: rgb(62, 106, 230);
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
}

.botao:hover {
    background-color: rgb(71, 118, 247);
    cursor: pointer;
}

p {
    color: rgb(255, 255, 255);
}

img {
    width: 35px;
}

#header-saldos {
    display: flex;
    flex-direction: row;
    gap: 15px;
}





.item {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 59);
    color: white;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.nome {
    color: white;
    font-size: 16px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.valor {
    flex: 1;
    text-align: center;
    color: green;
    font-weight: bold;
}

.valor-negativo {
    color: red;
    font-weight: bold;
}

.excluir {
    cursor: pointer;
}

.imagem-excluir {
    width: 25px;
}